.user-list-details {
  font-size: 30px;
}

.user-profile-details-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.profile-image-container {
  height: 150px;
  width: 150px;
  background-color: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
}

.profilepic {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
  }
  
  .profilepic:hover .profilepic__content {
    opacity: 1;
  }
  
  .profilepic:hover .profilepic__image {
    opacity: .5;
  }
  
  .profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__icon {
    color: white;
    padding-bottom: 8px;
  }
  
  .fas {
    font-size: 20px;
  }
  
  .profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
  }
  