.btn-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.link-to-register {
  margin-top: 30px;
}

// .alert{
//     position: absolute;
//     top: 20px;
//     left: 10px;
//     padding: 5px;
// }

.alert {
  margin-top: 20px;
}

// .input-require{
//   display: inline-block;
//   width: 6em;
//   margin-right: .5em;
//   padding-top: 1.5em;
// }

.label-required {
  color: red;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.inputFieldandLabel {
  margin-top: 20px;
}

.label-field {
  padding: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  
}

.input-label-required{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ababa {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

// login container center
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

